@import "common/variables.scss";
@import "common/mixins.scss";
@import "common/normalize.scss";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Header
# Menu - Deskop and Mobile
# Home Page Specific
# Content
# - Page Specific Content
# Sidebar
# Scroll To Top
# Footer
# Vendor Specific
# Responsive (iphone/android)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {

  #logo {

  }
}

/*--------------------------------------------------------------
# Menu - Desktop and Mobile
--------------------------------------------------------------*/
#search_mobile {
  display:none;
}

#menu_close {
  @include font-awesome-declaration('after', '\f057', 2.934em, null, white, null );
  display:none;
  float:right;
  right:2%;
  outline:none;
  border:none;
  background:none;

  @include bp-small {
    display:block;
  }
}

#menu_btn {
  @include font-awesome-declaration('after', '\f0c9', 2.934em, null, $error_red, null) {
    float:left;
  };
  background:none;
  float:right;
  outline:none;
  display:none;
  margin:0;
  top:4em;
  right:2%;
  border:none;
  position:absolute;

  @include bp-small {
    display:block;
  }
}

#menu {
  float:right;
  width:auto;
  clear:both;
  margin:-1em 0 0 0;//@TODO:not most elegant;fix later

  @include bp-small {
    background:black;
    width:100%;
    float:left;
    top:2%;
    z-index:999;
    position:fixed;
    bottom:0;
  }

  .menu {
    @include ul-no-list-style;

    li {
      display:inline-block;
      margin:0 1.3em 0 0;
      position:relative;

      a {
        font-size:1em;
        color:gray;
      }

      &:hover {

        &  > .sub-menu {
          display:block;
        }
      }

      &.current_page_item {

        a {
          color:yellow;
        }
      }
    }

    .sub-menu {
      display:none;
      position:absolute;
      background:#096cc8;
      border:1px solid #ccc;
      padding:0;
      width:200px;
      z-index:2;

      @include bp-small {
        background:none;
        position:relative;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        width:100%;
        margin:0.5em 0 0 0;
        float:left;
        padding:0.5em 0;
      }

      li {
        display:block;
        float:left;
        padding:0.5em 0 0.5em 0.5em;
        width:95%;
        border-bottom:1px solid white;

        @include bp-small {
          width:100%;
          border:none;
          padding:0;
          margin:0;
        }

        a {
          color:white;

          &:hover {
            text-decoration:none;
            color:black;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# Home Page Specific
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#content_left {

}

#content_right {

}

#content_full {

}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#sidebar {

}

/*--------------------------------------------------------------
# Scroll To Top
--------------------------------------------------------------*/
#scroll_top {
  display:block;
  width:100%;
  float:right;

  #scroll {
    width:50px;
    height:50px;
    float:right;
    position:relative;
    right:7.5%;
    margin:0 0 1.250em 0;

    @include bp-small {
      right:1%;
    }

    @media #{$table_size} {
      right:1%;
    }

    a {
      background:orange;/*TODO:change later*/;
      width:100%;
      height:100%;
      float:right;
      text-decoration:none;
      -webkit-border-radius:0.273em;
      -moz-border-radius:0.273em;
      border-radius:0.273em;

      &::after {
        content:"\f0d8";
        font-family:"FontAwesome";
        font-size:2.934em;
        color:white;
        text-align:center;
        font-weight:100;
        float:left;
        margin:0.035em 0 0 0.250em;
      }

      &:hover {
        transition:background 0.7s ease;
        background:orange;/*TODO:change later*/;
      }
    }
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  float:left;
  width:100%;
  padding:1.510em 0 0 0;
  margin:0;
}