/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Client Brand Colors
# Mixins
# Normalize
# Header
# Menu
# Home Page Specific
# Content
# - Contact Page
# - Online Education Plugin
# Attorneys CPT Single Page
# Sidebar
# Page Specific Content
# Sidebar
# Alignments
# Responsive Video Wrappers
# Scroll To Top
# Footer
# Vendor Specific
# Responsive (iphone/android)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Client Brand Colors
--------------------------------------------------------------*/
//colors here
$error_red:#FF7878;

/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/

$mobile_phone_size: "only screen and (max-width:430px)";
$table_size: "only screen and (min-width:430px) and (max-width:880px)";
$medium_desktop_size: "only screen and (min-width:881px) and (max-width:1300px)";

@mixin mobile_width_float_margin {
  float:left;
  width:100%;
  margin:0;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body, html {
  margin:0;
  padding:0;
  font-family:sans-serif;

  ul {
    margin:0;
    padding:0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin:0 0 0.500em 0;
    padding:0;
  }

  a {
    outline:none;
  }

  .wrapper {
    margin:auto;
    float:none;
    max-width:1290px;
    display:block;
  }

  .pdf_link:after {
    content:"";
    background:url(images/pdf_link.png) center right no-repeat;
    padding:0 1em 0 0.625em;
    white-space:nowrap;
  }

  .button_link {
    background:$brand_color_orange;
    padding:0.438em 1.250em;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    color:white !important;
    -webkit-border-radius:0.250em;
    -moz-border-radius:0.250em;
    border-radius:0.250em;

    &:hover {
      transition:background 0.7s ease;
      background:$brand_color_light_orange;
    }
  }

  .bold {
    font-weight:900;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/


  /*--------------------------------------------------------------
  # Home Page Specific
  --------------------------------------------------------------*/


  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/


  /*--------------------------------------------------------------
  # Sidebar
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Alignments
  --------------------------------------------------------------*/
  .alignleft {
    display:inline;
    float:left;
    margin-right:1.5em;

    @media #{$mobile_phone_size} {
      width:100%;
      height:auto;
    }
  }

  .alignright {
    display:inline;
    float:right;
    margin-left:1.5em;

    @media #{$mobile_phone_size} {
      width:100%;
      height:auto;
      float:left;
    }
  }

  .aligncenter {
    clear:both;
    display:block;
    margin-left:auto;
    margin-right:auto;

    @media #{$mobile_phone_size} {
      width:100%;
      height:auto;
    }
  }

  /*--------------------------------------------------------------
   # Responsive Video Wrapper
  --------------------------------------------------------------*/
  .videoWrapper {
    position:relative;
    padding-bottom:56.25%; /* 16:9 */
    padding-top:25px;
    height:0;

    iframe {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }

  /*--------------------------------------------------------------
  # Scroll To Top
  --------------------------------------------------------------*/
  #scroll_top {
    display:block;
    width:100%;
    float:right;

    #scroll {
      width:50px;
      height:50px;
      float:right;
      position:relative;
      right:7.5%;
      margin:0 0 1.250em 0;

      @media #{$mobile_phone_size} {
        right:1%;
      }

      @media #{$table_size} {
        right:1%;
      }

      a {
        background:$brand_color_light_orange;
        width:100%;
        height:100%;
        float:right;
        text-decoration:none;
        -webkit-border-radius:0.273em;
        -moz-border-radius:0.273em;
        border-radius:0.273em;

        &::after {
          content:"\f0d8";
          font-family:"FontAwesome";
          font-size:2.934em;
          color:white;
          text-align:center;
          font-weight:100;
          float:left;
          margin:0.035em 0 0 0.250em;
        }

        &:hover {
          transition:background 0.7s ease;
          background:$brand_color_orange;
        }
      }
    }
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  footer {
    float:left;
    width:100%;
    padding:1.510em 0 0 0;
    margin:0;
  }
}//body/html